{{set . "title" "About me - GBlog"}}
{{set . "about" "active" }}
{{template "header.html" .}}
<div class="content">
    <div class="history-nav" id="his">
       <div class="history-title">
         关于我
       </div>
       <div class="history-cell">
         <p>&nbsp;&nbsp;&nbsp;呀～，又到了关于我的环节了啊，这是我最喜欢的啦，恩，先说明一下，为什么要做这个Blog系统呢，因为在学习Golang啊，这个做的比较挫，大概是没什么灵感了吧，这次我必须X%……*%9了，恩，Bug肯定是有的，我只是给把你们带入门，其它的事情...，小伙伴们奋斗吧,基友们快TP吧。</p>
         <p>&nbsp;&nbsp;&nbsp;下面开始吐嘈，为什么要用golang，不得不说，其实我也是有android技能的（虽然等级比较底），以后万一android改成了go不用java了怎么办（虽然我相信肯定还会有java的支持），其实把，我也没在乎过，只是，平时下班没事干（其实我也想玩游戏啊，自从电脑不给力之后，我。。。。），也撸累了（导演这句掐了吧？），找点事做吧，于是，我学会了做饭，做饭给了我极大的乐趣，我很自豪，还记得那天周六，做了条鱼，恩，真的很不错，我把它吃完了，那一夜我失眠了，前前后后去了N次厕所，从此以后我在也不做饭了。于是我就开始默默的学习了，虽然每天就30分钟不到，兄弟们，这是什么概念啊，<span title="你还真去计算了啊？">1年=365*30*60*1000=60000000ms</span>啊，实在是太长了我受不了了，直接放弃了。哦哦，不好意思,该我捡肥皂了，下次继续吐嘈。。。</p>
         <p>本站​教程(CSDN)：<a href="http://blog.csdn.net/jov123/article/category/2216585">http://blog.csdn.net/jov123/article/category/2216585</a><br>
          本站​WIKI(GITHUB)：<a href="https://github.com/joveth/GBlog/wiki">https://github.com/joveth/GBlog/wiki</a><br>
          本站源码：<a href="https://github.com/joveth/GBlog">https://github.com/joveth/GBlog</a><br>
          ​QQ群:158325682</p>
       </div>
    </div>
</div>
{{template "footer.html" .}}
