{{set . "title" "Email list - GBlog"}}
{{set . "ema" "active" }}
{{template "header.html" .}}
<div class="content">
    <div class="email-nav" >
       <span class="email-tag">
       	<span>jov123@163.com</span>
       </span>
       {{if .emails}}
       {{range $email:= .emails}}
       <span class="email-tag">
        <span title="last update at:{{$email.CDate.Format "2006-01-02 15:04"}}">{{$email.Email}}</span>
       </span>
       {{end}}
       {{end}}
    </div>
    <div class="email-other" >
      <form action="#" method="post">
       	<div class="form-group">
		    <label >Email</label>
		    <input type="email" class="form-control" placeholder="Select an email" readonly="readonly">
    		 </div>
    		 <div class="form-group">
    		    <label >Your name</label>
    		    <input type="text" class="form-control" placeholder="Enter your name" required>
    		 </div>
    		 <div class="form-group">
    		    <label >Message</label>
    		    <textarea class="form-control" rows="3" placeholder="Enter the message" required ></textarea>
    		 </div>
    		 <div class="form-group">
    		   <button type="submit" class="btn btn-success">Send</button>
    		 </div>
      </form>
    </div>
</div>
  </div>
  </body>
</html>

